doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', href='../public/CSS/Style.css')
    style
        include ../public/CSS/Style.css
  body
    .container 
      .location 
        .returnPage 
          h1 Please provide a valid city name.
          a.link(href="/") Back
      .casting 
          