<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/public/CSS/Style.css">
</head>

<body>
    <div class="container">
        <div class="location">
            <div class="modelBox">
                <p>Choose Location</p>
                <div class="form">
                    <label for="input">City</label><br>
                    <input type="text">
                </div>
                <button type="submit" class="btn">Save Changes</button>
            </div>
        </div>
        <div class="casting">
            <div class="content">
                <div class="details">
                    <p>Allahabad</p>
                    <p>Clear Sky</p>
                    <p>30°C</p>
                    <img src="/public/Img/csk.jpg" alt="">
                </div>

                <div class="nature">
                    <p>Humidity: 16</p>
                    <p>Feels like: 40.13 °C</p>
                    <p>Pressure: 996 Pa</p>
                    <p>Wind : 1.65 + MPH</p>
                </div>
                <button class="btn">Change Location</button>
            </div>
        </div>
    </div>

</body>

</html>